

footer {
  background: linear-gradient(
    90deg,
    #f08e32 0%,
    #FFE898 100%
  );
    border-top: 1px solid #eee;
    padding: 1em 3em;
    margin: 0;
position: fixed;
bottom: 0px;
width: 100%;
    
  }