* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  /* body {
    
  } */
  .list-card{
    margin-left:  5px;
    margin-top: 15px;
    width: 25%;
    background-color: #52477f;
    color: white;
  }
 
 